@charset "UTF-8";

/* reset */
.articleContents a {color:#333;text-decoration:none}
.articleContents a:active, a:hover {text-decoration:underline}

/* 본문 */
#container {
	width : 50%;
	margin : 10px auto;
}

.tab-content {
	float : left;
	display : block;
	width: 100%;
	margin: 10px auto;
	margin-left: 10px;
}

.articleContents {
	display : block;
	margin : 3px auto;
}

#moreArticleBtn {
	display: block;
	clear:both;
}